 body{
 	background: dodgerblue;
 	text-align:center;
 }

 h1{
 	color:white;
 	font-size: 90;
 }

h2{
	color:black;
	font-size: 75;
}
h3{
	font-size: 50px;
}
p{
	color:yellow;
	font-size: 33;
	font-weight: 700;
}
a{
	text-decoration: none;
}